{
    "trailingComma": "none",
    "tabWidth": 6,
    "semi": true,
    "singleQuote": false,
    "bracketSameLine": true,
    "printWidth": 150,
    "singleAttributePerLine": true,
    "endOfLine": "crlf",
    "bracketSpacing": true
}